node_modules/
dist/

container-app/node_modules/
container-app/dist/

micro-cardapio/node_modules/
micro-cardapio/dist/

micro-pedido/node_modules/
micro-pedido/dist/

.env
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
